body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial, sans-serif;

    /* 浅蓝色渐变 */
   background: linear-gradient(
135deg,
#d7ecff 0%,
#eaf6ff 45%,
#f8fcff 100%
);
    text-align: center;
}
